// Typography

// => Body Copy

$base-font-size: 15px; //(paragraph)

// => Font

$family: "Inter"; // (https://fonts.google.com/specimen/Inter)
$weight-400: 400;
$weight-700: 700;
$weight-800: 800;
